*{
  margin: 0;
  padding:0;
  font-family: 'poppins', sans-serif;
  box-sizing: border-box;
}
.custom-navbar  {
    background-color: #FFF2E1;
}

.navbar-toggler-icon {
  background-image: url('/img/menu-bar.png');
  
}

.text {
    margin-top: 120px;
}

.btn {
  border-radius: 25px;
}

/* #brands-section{
    background-color: #f8fbfe;
} */

#brands-section img {
    max-width: 45%;
    filter: grayscale(100);
    transition: all 0.4s ease-in-out;
}

#brands-section img:hover {
    filter: grayscale(0);
    transform: scale(1.15);
}

.card-section {
  padding: 30px 70px;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.card-img-top {
  width: 100px;
}

.card {
  border: none;
  border-radius: 6%;
  box-shadow: 0 4px 6px 4px rgba(0, 0, 0, 0.1);
}



.portfolio-card {
  position: relative;
}

.portfolio-info {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
  flex-direction: column;
  transition: all ease-in-out 0.3s;
}

.big-ellipe {
  width: 10%;
  z-index: -5;
}

.ellipse {
  margin-left: 80%;
}

.cofident-techer {
  width: 45%;
  height: 100%;
  margin-top: 5%;
}

.features {
  margin-bottom: 15%;
  margin-top: 5%;
}

.features-info {
  margin-top: 10%;
}

.edge-image {
  margin-top: 90px;
  margin-left: 55px;
  z-index: -5; 
}

.edge-image-2 {
  margin-right: 110px;
  margin-bottom: 93px;
  z-index: -5; 
}

.eipse-1 {
  width: 17%;
  margin-top: 10px;
  margin-left: 96px;
  z-index: -5; 
}

.eipse-2 {
  width: 4%;
  margin-top: -25px;
  margin-left: 167px; 
}

.eipse-3 {
  width: 25%;
  margin-left: 150px;
  margin-bottom: -80px;
  z-index: -5;
}

.eipse-4 {
  width: 4%;
  margin-bottom: -10px;
  margin-left: 65px; 
}

.interface {
  padding-left: 50px;
}

.icon {
  width: 3%;
  margin-top: 15px;
}

.tools-text {
  margin-top: 14%;
  padding-left: 50px;
}

.tools-img {
  padding-left: 50px;
}

.assessments-img {
  padding-left: 50px;
}

.assessments-text {
  margin-top: 14%;
  padding-left: 60px;
}

.class-mag-text {
  margin-top: 8%;
  padding-left: 50px;
}

.class-mag-img {
  padding-left: 50px;
}

.discussions-img {
  padding-left: 50px;
}

.discussions-text {
  margin-top: 8%;
  padding-left: 60px;
}

/* .btn2 {
  outline-color: #f48c06;
} */

.integrations {
  margin-left: 200px;
  margin-bottom: 200px;
}

.image1 {
  width: 15%;
}

.image2 {
  width: 11%;
  margin-left: -17%;
  margin-top: 2%;
}

.image3 {
  width: 13%;
  margin-top: 17%;
  margin-left: 2%;
}

.image4 {
  width: 10%;
  margin-top: 17%;
  margin-left: -17%;
}

.inte-tool {
  margin-left: -99px;
}

.inte-img {
  width: 50px;
  padding-right: 10px;
}

.testimonial {
  margin-bottom: 10%;
}
.test-text {
  padding-left: 50px;
}

.outer-button {
  text-decoration: none;
  background-color: white;
  color: #F48C06;
  padding: 9px;
  border-color: #F48C06;
  border-radius: 30px;
  font-size: small;
  border-width: 1px;
  margin-top: 1%;
  padding-right: 30px;
}

.inner-link {
  text-decoration: none;
  background-color: white;
  color: #F48C06;
  padding: 8px;
  border-style: solid;
  border-color:#F48C06;
  border-radius: 50%;
  font-size: small;
  border-width: 1px;
  margin-left: -5px;
  margin-top: -9px;
  display: inline-block;
}

.arrow {
  width: 18px;
  padding: 3px;
}

.btn-text {
  margin-right: 13px;
  margin-left: 5px;
}

/* .inner-link:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
} */

.orage-bac {
 height: 48vh;
 margin-bottom: -60%;
}

.plain-bac {
  margin-bottom: -30%;
  margin-right: -45%;
  margin-left: 10%; 
}

/* .text-bac {
  margin-b: 100px;
} */


.news {
  margin-top: 150px;
}

.btn-custom {
  background-color: #F4C467;
  color: #333;
  padding: 5px 10px;
  font-size: 12px;
  border-radius: 40px;
  border: 0;
}

.btn-news {
  margin-top: 20%;
  margin-left: 26%;
}

.news-test {
  margin-left: -100%;
}


.news-img {
  display: flex;
  align-items: start;
  
}

.image-1 {
  margin-right: 20px;
  margin-top: 52px;
  width: 400px;
  position: relative;
}

.image-2 {
  margin-right: 20px;
  margin-top: 35px;
  width: 400px;
  position: relative;
}

.image-3 {
  margin-right: 20px;
  margin-top: 35px;
  width: 400px;
  position: relative;
}

.news-text-1 {
  font-size: 12px;
  margin-top: 54px;
}

.news-text-2 {
  font-size: 12px;
  margin-top: 38px;
}

.news-text-3 {
  font-size: 12px;
  margin-top: 38px;
}

.button {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #F4C467;
  color: #333;
  padding: 5px 10px;
  font-size: 12px;
  cursor: pointer;
  margin-top: 85px;
  margin-right: 17px;
  border-radius: 40px;
}

.logo {
  margin-right: 20px;
}

.logo-text {
  margin-top: 9px;
}

.footer{
  margin-top: 100px;
  margin-bottom: -150px;
  background-color: #252641;
  padding: 50px 10px;
  color: white;
}
#footer{
  display: flex;
  justify-content: center;
}

.footer #footer div #virtual{
  font-size: 20px;
  margin-left: 20px;
  
}

.footer #footer div #virtual::before {
  content: "";
  
  border-left: 1px solid white;
  width: 0px;
  height: 90%;
  margin-right: 10px;
}

.footer div{
  margin-top: 40px;
  text-align: center;
}

.footer div p{
  font-size: 20px;
}
.footer div input{
  border-radius: 30px;
  border: none;
  border-color: #83839A;
}

.footer div button{

  border-radius: 30px;
  padding: 6px 30px;
  background-color: #545AE7;
  border: none;
}